@use 'sass:math';

@function vw($px) {
    $result: math.div($px, 1366) * 100 + vw;
    @return $result;
}

// REM
@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

// EM
@function em($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}