@import './units.scss';

$black: #000000;
$white: #FFFFFF;

$grey: #4F4F4F;
$grey-2: #828282;
$grey-3: #BDBDBD;
$darkGrey: #333333;
$lightGrey: #F3F3F3;

$green: #00FF19;
$red: #FF0000;

$s: 480px;
$m: 768px;
$l: 1000px;
$xl: 1366px;
$xxl: 1920px;

// $containerPadding: 40px;