.category
  &_light
    background-color: $white
    border-radius: 10px

    & .category
      &__header
        padding-top: 25px

      &__grid-box
        grid-template-columns: repeat(auto-fit, 248px)

        @media screen and (min-width: $media-md)
          grid-template-columns: repeat(auto-fit, 355px)

      &__toggler
        background-color: $white

        &_inactive
          color: $black-1

        &_active
          color: $accent

          & .category__arrow
            color: $accent

      &__arrow
        color: $black-1

      &__slider
        margin-top: 0

      &__slider .page__box
        padding: 0 40px

      &__slider .slider__flex-box

        @media screen and (min-width: $media-md)
          gap: 0px



  &__flex-box
    display: flex

  &__name
    display: grid
    place-items: center
    height: 36px
    width: 130px
    background: $white
    color: $black-1
    font-size: 14px
    border-radius: 5px
    margin-right: -3px
    position: relative

  &__toggler
    display: flex
    justify-content: center
    align-items: center
    height: 36px
    width: 204px
    color: $white
    font-size: 12px
    cursor: pointer
    border-radius: 0 5px 5px 0

    &_active
      background-color: $accent

      & .category__arrow
        transform: rotate(180deg)

    &_inactive
      background-color: $black-5

  &__arrow
    width: 12px
    height: 12px
    color: $white

  &__table
    background: $white
    padding: 20px 0
    border-top: 1px solid $accent

  &__grid-box
    display: grid
    gap: 20px
    justify-content: center
    justify-items: center
    grid-template-columns: repeat(auto-fit, $cardWidthSmall)

    @media screen and (min-width: $media-md)
      grid-template-columns: repeat(auto-fit, $cardWidthLarge)

  &__slider
    margin-top: 20px
