@import '../../app/styles/variables.scss';
@import '../../app/styles/units.scss';

$gap: rem(20);
$buttonWidth: rem(60);

.row {

    &__wrapper {
        position: relative;

        &:hover {
            & .row__button {
                opacity: 1;
            }
        }
    }

    &__header {
        margin-left: $gap;
        margin-bottom: rem(15);
        font-size: rem(12);

        @media screen and (min-width: $l) {
            margin-left: calc($gap + $buttonWidth);
        }
    }

    &__flex {
        overflow: scroll;
        scroll-padding-left: calc($gap + $buttonWidth);
        scroll-snap-type: x mandatory;
        display: flex;
        gap: $gap;

        // @media screen and (min-width: $xl) {
        //     justify-content: center;
        // }
        

        & > li {
            flex-shrink: 0;
            scroll-snap-align: start;
            width: rem(200);

            @media screen and (min-width: $l) {
                width: calc((100% - 2 * $buttonWidth - 5 * $gap) / 4);
            }

            @media screen and (min-width: $xl) {
                width: calc((100% - 2 * $buttonWidth - 6 * $gap) / 5);
            }
        }

        &:before {
            content: '';
            flex-shrink: 0;

            @media screen and (min-width: $l) {
                width: $buttonWidth;
            }
        }

        &:after {
            content: '';
            flex-shrink: 0;

            @media screen and (min-width: $l) {
                width: $buttonWidth;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }  

    &__button {
        display: none;
        background-color: rgba(0, 0, 0, .2);
        transition: opacity 300ms;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        height: 100%;
        text-align: center;
        top: 0;

        @media screen and (min-width: $l) {
            width: $buttonWidth;
            display: block;
        }

        &_left {
            left: 0;

            & .row__arrow {
                transform: rotate(90deg);
                
            }
        }   

        &_right {
            right: 0;

            & .row__arrow {
                transform: rotate(-90deg);
            }
        }

        &_none {
            display: none!important;
        }
    }
}

.titleWithLink {
    display: flex;

    &__left {
        background-color: $white;
        border-radius: rem(5);
        padding: rem(10) rem(30);
    }

    &__right {
        background-color: $grey;
        border-radius: 0 rem(5) rem(5) 0;
        padding: rem(10) rem(20);
        color: $white;


        &:after {
            content: ' >'
        }
    }
}