.slider
  position: relative
  overflow-x: scroll
  flex-shrink: 0

  @media screen and (min-width: $media-md)
    overflow-x: hidden
    // display: flex
    // flex-direction: column-reverse
    // gap: 25px

  &::-webkit-scrollbar
    width: 0

  &__flex-box
    display: flex
    gap: 20px
    transition: transform 200ms ease

    @media screen and (min-width: $media-lg)
      justify-content: center
  // &__buttons
  //   display: flex
  //   gap: 10px

  &__button
    display: none

    @media screen and (min-width: $media-md)
      display: block
      opacity: 0.2
      z-index: 1
      cursor: pointer
      background-color: $bg-blur-white
      width: 52px
      position: absolute
      display: grid
      place-items: center
      top: 0
      bottom: 0
      transition: opacity 200ms ease

      &_alt
        opacity: 1
        background-color: transparent

      &_left
        left: 0

        &:hover
          opacity: 1

      &_right
        right: 0

        &:hover
          opacity: 1

    @media screen and (min-width: $media-lg)
      display: none

  &__item
    flex-shrink: 0

  &__icon
    width: 52px
    height: 16px
    color: $white
    position: absolute

    &_alt
      color: $accent

    &_left
      transform: rotate(90deg)

    &_right
      transform: rotate(-90deg)
