:root {
  font-family: "Gilroy", sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  background-color: #06D10E;
  padding: 14px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}
.button:hover {
  transform: scale(0.997);
}

.link {
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  padding: 10px 0;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.link:hover {
  transform: scale(0.997);
}

.tag {
  border-radius: 25px;
  padding: 6px 0;
  font-size: 10px;
  text-align: center;
  transition: transform 100ms ease-in-out;
}
.tag_light {
  background-color: #06D10E;
  color: #000000;
  font-weight: 600;
}
.tag_dark {
  background-color: #151515;
  color: #FFFFFF;
  font-weight: 500;
}
.tag:hover {
  transform: scale(1.1);
}

@keyframes like {
  from {
    transform: scale(1);
  }
  40% {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.1);
  }
}
.card {
  background: center/cover no-repeat;
  border-radius: 10px;
  display: inline-block;
}
.card__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.card__header {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  padding: 15px;
}
.card__repost-wrapper {
  padding: 4px 7px;
  border: #FFFFFF solid 1px;
  border-radius: 5px;
}
.card__repost-wrapper:hover, .card__repost-wrapper:hover * {
  border-color: #06D10E;
  color: #06D10E;
}
.card__repost {
  width: 13px;
  height: 11px;
  color: #FFFFFF;
  cursor: pointer;
}
.card__blur {
  background: rgba(42, 42, 42, 0.45);
  backdrop-filter: blur(6px);
  padding: 16px 20px;
}
.card__title {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 19px;
}
.card__info {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.card__footer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.card__tag-wrapper {
  width: 79px;
}
.card__backend {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.card__backend:checked ~ .card__frontend_checked {
  visibility: visible;
  animation: like 100ms ease-in-out;
  animation-fill-mode: forwards;
}
.card__backend:checked ~ .card__frontend_unchecked {
  display: none;
}
.card__frontend {
  width: 26px;
  height: 23px;
  cursor: pointer;
  color: #FFFFFF;
}
.card__frontend_checked {
  visibility: hidden;
}
.card__frontend:hover {
  color: #FF0000;
}
.card_vertical {
  width: 206px;
  height: 265px;
}
.card_vertical .card__wrapper {
  flex-direction: column;
}
.card_vertical .card__blur {
  border-radius: 0 0 10px 10px;
}
.card_horizontal {
  width: 252px;
  height: 145px;
}
.card_horizontal .card__wrapper {
  flex-direction: row-reverse;
}
.card_horizontal .card__blur {
  border-radius: 10px 0 0 10px;
}

.dropper_light .dropper__toggler {
  background-color: #333333;
  color: #FFFFFF;
  border: 1px solid #828282;
}
.dropper_light .dropper__arrow-wrapper {
  background-color: #06D10E;
}
.dropper_light .dropper__arrow {
  color: #FFFFFF;
}
.dropper_dark .dropper__toggler {
  background-color: #F3F3F3;
  color: #000000;
}
.dropper_dark .dropper__arrow-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
}
.dropper_dark .dropper__arrow {
  color: #200E32;
}
.dropper[open] .dropper__arrow {
  transform: rotate(-180deg);
}
.dropper[open] .dropper__toggler {
  border-radius: 10px 10px 0 0;
  background-color: #F3F3F3;
  border: none;
  color: #BDBDBD;
}
.dropper__toggler {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 17px 15px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}
.dropper__toggler::-webkit-details-marker {
  display: none;
}
.dropper__toggler-left {
  display: flex;
  align-items: center;
}
.dropper__location {
  color: #06D10E;
  width: 15px;
  height: 18px;
}
.dropper__city {
  margin-left: 8px;
}
.dropper__arrow-wrapper {
  justify-self: flex-end;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  text-align: center;
}
.dropper__arrow {
  width: 13px;
  height: 11px;
  transition: transform 200ms ease-in-out;
}
.dropper__window {
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 0 0 10px 10px;
}
.dropper__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropper__item {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
}
.dropper__backend {
  width: 0;
  height: 0;
  visibility: none;
  position: absolute;
  opacity: 0;
}
.dropper__frontend {
  cursor: pointer;
}
.dropper__backend:checked + .dropper__frontend {
  font-weight: 600;
}
.dropper__backend:checked + .dropper__frontend:hover {
  font-weight: 600;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
