:root {
  font-family: "Gilroy", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.none {
  display: none !important;
}

.button {
  background-color: #06D10E;
  padding: 14px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}
.button:hover {
  -webkit-transform: scale(0.997);
      -ms-transform: scale(0.997);
          transform: scale(0.997);
}

.link {
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  padding: 10px 0;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.link:hover {
  -webkit-transform: scale(0.997);
      -ms-transform: scale(0.997);
          transform: scale(0.997);
}

.tag {
  border-radius: 25px;
  padding: 6px 0;
  font-size: 10px;
  text-align: center;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}
.tag_light {
  background-color: #06D10E;
  color: #000000;
  font-weight: 600;
}
.tag_dark {
  background-color: #151515;
  color: #FFFFFF;
  font-weight: 500;
}
.tag:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes like {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes like {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.card {
  background: center/cover no-repeat;
  border-radius: 10px;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  padding: 15px;
}
.card__repost-wrapper {
  padding: 4px 7px;
  border: #FFFFFF solid 1px;
  border-radius: 5px;
}
.card__repost-wrapper:hover, .card__repost-wrapper:hover * {
  border-color: #06D10E;
  color: #06D10E;
}
.card__repost {
  width: 13px;
  height: 11px;
  color: #FFFFFF;
  cursor: pointer;
}
.card__blur {
  background: rgba(42, 42, 42, 0.45);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 16px 20px;
}
.card__title {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 19px;
}
.card__info {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.card__footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__tag-wrapper {
  width: 79px;
}
.card__backend {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.card__backend:checked ~ .card__frontend_checked {
  visibility: visible;
  -webkit-animation: like 100ms ease-in-out;
          animation: like 100ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.card__backend:checked ~ .card__frontend_unchecked {
  display: none;
}
.card__frontend {
  width: 26px;
  height: 23px;
  cursor: pointer;
  color: #FFFFFF;
}
.card__frontend_checked {
  visibility: hidden;
}
.card__frontend:hover {
  color: #FF0000;
}
.card_vertical {
  width: 206px;
  height: 265px;
}
.card_vertical .card__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card_vertical .card__blur {
  border-radius: 0 0 10px 10px;
}
@media screen and (min-width: 700px) {
  .card_vertical {
    width: 295px;
    height: 380px;
  }
}
.card_horizontal {
  width: 252px;
  height: 145px;
}
.card_horizontal .card__wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.card_horizontal .card__blur {
  border-radius: 10px 0 0 10px;
}

.dropper_light .dropper__toggler {
  background-color: #333333;
  color: #FFFFFF;
  border: 1px solid #828282;
}
.dropper_light .dropper__arrow-wrapper {
  background-color: #06D10E;
}
.dropper_light .dropper__arrow {
  color: #FFFFFF;
}
.dropper_dark .dropper__toggler {
  background-color: #F3F3F3;
  color: #000000;
}
.dropper_dark .dropper__arrow-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
}
.dropper_dark .dropper__arrow {
  color: #200E32;
}
.dropper[open] .dropper__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.dropper[open] .dropper__toggler {
  border-radius: 10px 10px 0 0;
  background-color: #F3F3F3;
  border: none;
  color: #BDBDBD;
}
.dropper[open] .dropper__opacitybg {
  display: block;
}
.dropper__toggler {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 15px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}
.dropper__toggler::-webkit-details-marker {
  display: none;
}
.dropper__toggler-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropper__location {
  color: #06D10E;
  width: 15px;
  height: 18px;
}
.dropper__city {
  margin-left: 8px;
}
.dropper__arrow-wrapper {
  justify-self: flex-end;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  text-align: center;
}
.dropper__arrow {
  width: 13px;
  height: 11px;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.dropper__window {
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 0;
  right: 0;
}
.dropper__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropper__item {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
}
.dropper__backend {
  width: 0;
  height: 0;
  visibility: none;
  position: absolute;
  opacity: 0;
}
.dropper__frontend {
  cursor: pointer;
}
.dropper__frontend:hover {
  font-weight: 600;
}
.dropper__backend:checked + .dropper__frontend {
  font-weight: 600;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.input__backend {
  border: none;
  border: 1px solid #BDBDBD;
  padding: 12px 15px;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 100%;
}
.input__backend:focus {
  outline: none;
  border: 1px solid #06D10E;
}
.input__search {
  color: #200E32;
  width: 22px;
  height: 21px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 10px;
}
.input__search:hover {
  color: #06D10E;
}

.header {
  background: #151515;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 22px 28px;
  gap: 60px;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__logo {
  color: #06D10E;
  width: 55px;
  height: 51px;
}
.header__dropper-wrapper {
  width: 237px;
  position: relative;
}
.header__toggler {
  z-index: 2;
  position: relative;
}
.header__window {
  z-index: 2;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 22px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F3F3F3;
  gap: 30px;
}
@media screen and (min-width: 700px) {
  .header__bottom {
    display: none;
  }
}
.header__input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__input-wrapper_top {
  display: none;
}
@media screen and (min-width: 700px) {
  .header__input-wrapper_top {
    display: block;
  }
}
.header__icons_top {
  display: none;
}
@media screen and (min-width: 700px) {
  .header__icons_top {
    display: block;
  }
}
.header__cart {
  width: 35px;
  height: 28px;
  color: #200E32;
  cursor: pointer;
}
.header__cart:hover {
  color: #06D10E;
}
@media screen and (min-width: 700px) {
  .header__cart {
    color: #FFFFFF;
  }
}
.header__person {
  width: 25px;
  height: 25px;
  color: #200E32;
  cursor: pointer;
}
.header__person:hover {
  color: #06D10E;
}
@media screen and (min-width: 700px) {
  .header__person {
    color: #FFFFFF;
  }
}

.opacitybg {
  z-index: 1;
  background-color: rgba(0, 78, 12, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.category__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.category__name {
  display: grid;
  place-items: center;
  height: 36px;
  width: 130px;
  background: #FFFFFF;
  color: #000000;
  font-size: 14px;
  border-radius: 5px;
  margin-right: -3px;
  position: relative;
}
.category__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  width: 204px;
  color: #FFFFFF;
  font-size: 12px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.category__toggler_active {
  background-color: #06D10E;
}
.category__toggler_inactive {
  background-color: #4F4F4F;
}
.category__arrow {
  width: 12px;
  height: 12px;
  color: #FFFFFF;
}
.category__table {
  background: #FFFFFF;
  padding: 20px 0;
  border-top: 1px solid #06D10E;
}
.category__grid-box {
  display: grid;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 206px);
}
@media screen and (min-width: 700px) {
  .category__grid-box {
    grid-template-columns: repeat(auto-fit, 295px);
  }
}
.category__slider {
  margin-top: 20px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page__box {
  padding: 0 30px;
}
@media screen and (min-width: 700px) {
  .page__box {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 60px;
  }
}
.page__main {
  background-color: #F3F3F3;
}
.page__category-box {
  padding: 60px 0;
}
@media screen and (min-width: 700px) {
  .page__category-box {
    padding: 100px 0;
  }
}
.page__category {
  margin-bottom: 60px;
}
.page__category:last-child {
  margin-top: 0;
}
@media screen and (min-width: 700px) {
  .page__category {
    margin-bottom: 100px;
  }
}

.slider {
  position: relative;
  overflow-x: scroll;
}
.slider::-webkit-scrollbar {
  width: 0;
}
.slider__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}
@media screen and (min-width: 700px) {
  .slider {
    overflow-x: hidden;
  }
}
.slider__button {
  display: none;
}
@media screen and (min-width: 700px) {
  .slider__button {
    display: block;
    opacity: 0.2;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(42, 42, 42, 0.45);
    width: 52px;
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    bottom: 0;
    -webkit-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }
  .slider__button_left {
    left: 0;
  }
  .slider__button_left:hover {
    opacity: 1;
  }
  .slider__button_right {
    right: 0;
  }
  .slider__button_right:hover {
    opacity: 1;
  }
}
@media screen and (min-width: 1555px) {
  .slider__button {
    display: none;
  }
}
.slider__icon {
  width: 50px;
  height: 16px;
  color: #FFFFFF;
}
.slider__icon_left {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.slider__icon_right {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.footer {
  background-color: #151515;
  padding: 54px 0 83px;
  color: #FFFFFF;
  font-size: 12px;
}
@media screen and (min-width: 700px) {
  .footer {
    padding: 65px 0 150px;
    font-size: 18px;
  }
}
.footer__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 700px) {
  .footer__flex-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 115px;
}
@media screen and (min-width: 700px) {
  .footer__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.footer__contacts-info {
  display: none;
}
@media screen and (min-width: 700px) {
  .footer__contacts-info {
    display: block;
  }
}
.footer__address-info {
  display: none;
}
@media screen and (min-width: 700px) {
  .footer__address-info {
    display: block;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__social {
  color: #06D10E;
  width: 25px;
  height: 25px;
}
.footer__nav-wrapper {
  margin-bottom: 110px;
}
@media screen and (min-width: 700px) {
  .footer__nav-wrapper {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .footer__nav {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.footer__link-item {
  margin-bottom: 25px;
}
.footer__link-item:nth-child(4n) {
  margin-bottom: 0;
}
.footer__link {
  color: #FFFFFF;
}
.footer__link:hover {
  color: #06D10E;
}
.footer__logo {
  color: #06D10E;
  width: 55px;
  height: 51px;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 700px) {
  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/*# sourceMappingURL=main.css.map */