@import './app/styles/variables.scss';

.app {
    background-color: $lightGrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        margin-bottom: 50px;
    }

    &__rowOfCards {
        margin-bottom: 50px;
    }
}