.input
  display: flex
  justify-content: space-between
  position: relative

  &__backend
    border: none
    border: 1px solid $grey-3
    padding: 12px 15px
    border-radius: 10px
    background-color: $white
    width: 100%

    &:focus
      outline: none
      border: 1px solid $accent

  &__search
    color: $black-3
    width: 22px
    height: 21px
    cursor: pointer
    position: absolute
    right: 12px
    top: 10px

    &:hover
      color: $accent
